.stock-container {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.stock-container .name {
    display: inline-block;
}


.positive {
    color: green;
}

.negative {
    color: red;
}