<h1> Employee app </h1>

<button type="button" (click)="flipTableStatus()">{{buttonMessage}}</button>
<br>
<br>


<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Marital Status</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="showTable">
            <tr *ngFor="let emp of employees;let i=index;">
                <td>{{i+1}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.age}}</td>
                <td>{{emp.isMarried ? 'married':'single'}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>