<h1> My first Angular app </h1>

<h4> Displaying items from simple array in a list without &#64;for </h4>
<ul>
  <li>Animal : {{ animals[0] }}</li>
  <li>Animal : {{ animals[1] }}</li>
  <li>Animal : {{ animals[2] }}</li>
  <li>Animal : {{ animals[3] }}</li>
</ul>

<h4> Displaying items from simple array in a list with &#64;for </h4>

<ul>
    <!-- animal is a template input variable -->
    @for (animal of animals; track animal) {
      <li>Animal : {{ animal }}</li>
    }
</ul>

<h4> Displaying items from an array of objects within a table </h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Marital Status</th>
    </tr>
  </thead>
  <tbody>

    @for (emp of employees; track emp) {
        <tr>
          <td>{{emp.name}}</td>
          <td>{{emp.age}}</td>
          <td>{{emp.isMarried ? 'married':'single'}}</td>
        </tr>
      }
      @empty {
        <tr>No employees in array</tr>
      }

   </tbody>
</table>

<br>

<button (click)="removeEmployee()">Remove an employee</button>