<label for="empAge">Age limit : </label>
<input #empAge type="number" id="empAge" name="empAge">
<br>
<br>

<button type="button" (click)="setNewLimit(empAge.value)">Show employees younger than age limit</button>
<br>
<br>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Marital Status</th>
        </tr>
    </thead>
    <tbody>

        @for (emp of employees; track emp; let i = $index) {
            @if (emp.age < ageLimit) {
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.age}}</td>
                    <td>{{emp.isMarried ? 'married':'single'}}</td>
                </tr>
            }
        }
    
    </tbody>
</table>