<h1> Employee app </h1>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Marital Status</th>
        </tr>
    </thead>
    <tbody>

        @for (emp of employees; track emp; let i = $index) {
        <tr [ngClass]="{ special : i === rowToHighlight }">
            <td>{{i+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.isMarried ? 'married':'single'}}</td>
        </tr>
        }
        @empty {
        <tr>No employees in array</tr>
        }

    </tbody>
</table>

<hr>


@for (emp of employees; track emp; let i = $index) {
<app-employee [myEmployee]="emp" [employeeNum]="i" (rowChanged)="rowToHighlight = $event"></app-employee>
}