<h1> Form for {{myRole}}</h1>

<form (ngSubmit)="createEmployee(employeeForm)" #employeeForm="ngForm">

  <div class="employee-name">
    Name:<br>
    <input type="text" required pattern='[a-zA-Z ]*' name="employeeName" #employeeName="ngModel" [(ngModel)]="myEmployee.name" >
  </div>

  <div *ngIf="employeeName.errors && employeeName.errors.required">
      Employee name is Mandatory
  </div>  

  <div *ngIf="employeeName.errors && employeeName.errors.pattern">
      Employee name can only contain alphabets
  </div>  

  <div class="employee-age">
      Age:<br>
      <input type="number"  name="employeeAge" required #employeeAge="ngModel" [(ngModel)]="myEmployee.age" >
  </div>

  <div *ngIf="employeeAge.errors && employeeAge.errors.required">
      Employee age is mandatory
  </div>  
  
  <div class="employee-email">
    Email:<br>
    <input type="text" required name="employeeEmail" email  #employeeEmail="ngModel" [(ngModel)]="myEmployee.email" >
  </div>

  <div *ngIf="employeeEmail.errors && employeeEmail.errors.required">
      Employee email  is mandatory
  </div>  

  <div *ngIf="employeeEmail.errors && employeeEmail.errors.email">
      Employee email is incorrect format
  </div>  


  <div [ngSwitch]="myRole">
    <div *ngSwitchCase="'Admin'">
      
      <div class="employee-os">
          OS used:<br>
          <input type="text" required maxlength="10" name="employeeOs" #employeeOs="ngModel" [(ngModel)]="myEmployee.os">
          <br><br>
      </div>

      <div *ngIf="employeeOs.errors && employeeOs.errors.required">
          OS must be specified
      </div>  

    </div>
    <div *ngSwitchCase="'Developer'">
      
      <div class="employee-languages">
          Languages developed in:<br>
          <input type="text" required minlength="4" name="employeeLanguages" #employeeLanguages="ngModel" [(ngModel)]="myEmployee.languages">
          <br><br>
      </div>

      <div *ngIf="employeeLanguages.errors && employeeLanguages.errors.required">
          Languages must be specified
      </div>    
      
      <div *ngIf="employeeLanguages.errors && employeeLanguages.errors.minlength">
          Languages must be at least 4 characters
      </div>      

    </div>    
  </div>  

  <button type="submit">Add record</button>

</form> 




