<h1> Testing various directives </h1>

<h3>Demo [ngClass] directive </h3>
<label for="addClassField">Class name to add to cool paragraph:<br>Options: normal, medium, large, special, emphasize,
    danger, safe</label><br>
<input #addClassField type="text" id="addClassField" name="addClassField">
<br>
<br>

<button type=button (click)="addNewName(addClassField.value)" data-testid="addNameButton">Add name</button>
<button type=button (click)="removeRecentName()" data-testid="removeNameButton">Remove most recent name</button>

<!-- ngClass allows dynamic updating of binding based on new content in classesInArray -->
<p [ngClass]="classesInArray" data-testid="coolparagraph">The nice paragraph</p>

<h3> Demo ngIf Else directive </h3>

Cute checkbox <input type="checkbox" (input)="showCute=!showCute" data-testid="cutecheckbox" />

<p class="cute-paragraph" *ngIf="showCute; else elseForCuteCheckBox">
    Cute checkbox is ticked
</p>

<ng-template #elseForCuteCheckBox>
    <p class="cute-paragraph"> Cute checkbox is NOT ticked </p>
</ng-template>

<h3> Demo ngFor directive </h3>

<ul>

    <li *ngFor="let animal of animals">
        Animal : {{ animal }}
    </li>
</ul>