<h2>Create Stock Form</h2>
<div class="form-group">
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <div class="stock-name">
      <input type="text" placeholder="Stock Name" formControlName="name">

      <div *ngIf="name.invalid && 
      ( name.dirty || name.touched )">
        Name is required
      </div>

    </div>
    <div class="stock-code">
      <input type="text" placeholder="Stock Code" formControlName="code">
      <div *ngIf="code.invalid &&
      (code.dirty || code.touched )">
        <div *ngIf="code.errors.required">
          Stock Code is required
        </div>
        <div *ngIf="code.errors.minlength">
          Stock Code must be at least 2 characters
        </div>
      </div>
    </div>

    <div class="stock-price">
      <input type="number" placeholder="Stock Price" formControlName="price">
      <div *ngIf="price.invalid &&
      (price.dirty || price.touched )">
        <div *ngIf="price.errors.required">
          Stock Price is required
        </div>
        <div *ngIf="price.errors.min">
          Stock Price must be positive
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
    <br><br>
    <button type="button" (click)="demoReset()">
      Do reset
    </button>
    <button type="button" (click)="demoSetValue()">
      Do setValue
    </button>
    <button type="button" (click)="demoPatchValue()">
      Do patchValue
    </button>
  </form>
</div>
<p>Form Control value: {{ stockForm.value | json }}</p>
<p>Form Control status: {{ stockForm.status | json }}</p>